#app{
  transition: all 1s;
}

#app.overview{
  transform: scale(.3);
}

section.slide{
  font-family:roboto;
  background-color: #1e1e1e;
  color:#f9f4df;
  height: 100%;
  display: flex;
  flex-direction:column;
  position: relative;
}

.slideContainer{
  display: flex;
  flex-direction: column;
}


.headerContainer > header.title, .headerContainer > header.subtitle, .container{
  text-align:center;
}
.headerContainer > header.title{
  margin-top: .3em;
  font-size: 5vw;
  text-align:center;
}
.container{
  margin-top: 1em;
}
.headerContainer > header.subtitle{
  font-size: 3vw;
}
body,html{
  padding:0px;
  margin:0px;
}
.slideControls{
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index:9999;
}
.slideControls > button{
  border-radius: 200em;
  font-size: 2em;
  /* padding: .5em; */
  width: 2em;
  height: 2em;
}
.slide > .contentContainer{
  display: flex;
  flex-direction: row;
  padding: 1em;
  height:100%;
}

.content {
  flex: 2 1 auto;
  font-size: 2.5vw;
  overflow: hidden;
}


.slide  > .contentContainer > .imgContainer{
  max-height: 100%;
  max-width: 100%;
  flex: 1 1 auto;
  align-items: center;

}

img{
  max-height:100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

floatLeft{
  float: left;
}

floatRight{
  float: right;
}

.half{
  width: 50%;
}
.imageHalf{
  width:50%;
  max-height: 100%;
  max-width: 50%;
  flex: 1 1 auto;
}

.slideNumber{
  font-size: 1000%;
  z-index: 10000;
  position: absolute;
  width: 100%;
  height: 100%;
}
.blank{
  font-size: 1000%;
  z-index: 10001;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

#goto{
  font-family:"roboto" ;
  display: block;
  left:10px;
  top: 10px;
  border-radius: 5px;
  position: fixed;
  background-color: #fff;
  z-index:100;
  align-items: center;
  padding: 2vh;
}
#goto > label{
  display:block;
  width: 100%;
}
#goto > input{
  width: 100%;
  outline: none;
  border: 0px solid cadetblue;
  border-bottom: 2px solid cadetblue;
}

[v-cloak]{
  display: none;
}

/* Transition effects */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/* end transition effects */
