section.slide{
  font-family:roboto;
  background-color: #1e1e1e;
  color:#f9f4df;
  height: 100%;
  display: flex;
  flex-direction:column;
  position: relative;
}

.slideContainer{
  display: flex;
  flex-direction: column;
}


.headerContainer > header.title, .headerContainer > header.subtitle, .container{
  text-align:center;
}
.headerContainer > header.title{
  margin-top: .3em;
  font-size: 5em;
  text-align:center;
}
.container{
  margin-top: 1em;
}
section.slide > header.subtitle{
  font-size: 3em;
}
body,html{
  padding:0px;
  margin:0px;
}
.slideControls{
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index:9999;
}
.slideControls > button{
  border-radius: 200em;
  font-size: 2em;
  /* padding: .5em; */
  width: 2em;
  height: 2em;
}
.slide > .contentContainer{
  display: flex;
  flex-direction: row;
  padding: 1em
}
.slide{
  /* padding: 1em; */
}
.content {
  flex: 2 1 auto;
  
}


.slide  > .contentContainer > .imgContainer{
  max-height: 100%;
  max-width: 100%;
  flex: 1 1 auto;
}

img{
  max-height:100%;
}

